@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --main-bg: rgb(9, 14, 52);
    --section-bg: rgba(74, 108, 247, 3%);
    --text-color: rgb(149, 156, 177);
    --white: rgb(255, 255, 255);
    --link-bg:  rgb(74, 108, 247);
    --price-bg: rgb(229, 231, 235);
    --field-bg: rgb(36, 43, 81);
    --footer-bg: rgba(74, 108, 247, .1);
    --header-bg: #4a6cf733;
    --orange: #FDCC0D;
}

/* colors */
.white-c {
    color: #fff;
}
.text-c {
    text-align: center;
}

/* position */
.p-relative {
    position: relative;
}

/* transition */
.trans {
    transition: .3s;
}